* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 100vh;
    background: linear-gradient(50deg, #C21292, #EF4040);
    padding: 1.5vw;
}

.app {
    background: #fff;
    width: 30vw;
    height: auto;
    padding: 2.0vw;
    margin: 1vw;
    border-radius: 2.5vw;
}

.app h2 {
    font-size: 2vw;
    text-align: center;
}

.app h2 i {
    margin: 0.5vw;
}

.add-task {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw;
}

.add-task input {
    background: #dbdada;
    border: none;
    outline: none;
    height: 7vh;
    width: 20vw;
    border-radius: 2vw;
    padding: 1.5vw;
    font-size: 1vw;
}

.add-task button {
    border: none;
    outline: none;
    background-color: rgb(255, 0, 136);
    height: 7vh;
    width: 5vw;
    border-radius: 2vw;
    color: #fff;
    cursor: pointer;
    margin: 0 0 0 0.5vw;
    transition: 0.3s all ease-in-out;
}

.add-task button:hover {
    background-color: rgb(255, 85, 0);
    color: #fff;
}

.task ul {
    list-style: none;
    font-size: 1.5vw;
    padding: 1vw 0 0 0;

}

.task ul li {
    margin: 0 0 1vw 2.5vw;
    cursor: pointer;
    position: relative;
}

.task ul li i {
    margin: 0 0.75vw 0 1vw;
    cursor: pointer;
   
}
.task ul li::before{
    content: "";
    position: absolute;
    height: 2.5vh;
    width: 1.25vw;
    border-radius:50% ;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 0.38vw;
    right: 24.2vw;
}
.task ul .checked{
    color: #555;
    text-decoration: line-through;
}
.task ul .checked::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    width: 1.5vw;
    height: 3.25vh;
    font-size: 2vw;
    color: #555;
    line-height: 1.6vw;
    text-align: center;
}
ul li span:hover{
    background: #aaa6a6;
}